.main-header {
  background-color: #eeeeee;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #eeeeee;
}

.main-header-logo-inner:hover,
.main-header-logo-inner:focus {
  opacity: 0.8;
}




.main-header-logo-inner:active {
  opacity: 0.3;
}

.site-navigation,
.user-basket {
  list-style: none;
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
}

.site-navigation a,
.user-basket a, {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-basket a:hover,
.user-basket a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-basket a:active {
  opacity: 0.3;
}

.features-list {
  list-style: none;
}

.feature-item {
  text-align: left;
}

.feature-item h3 {
  font-size: 16px;
  line-height: 24px;
}

.feature-item p {
  color: #283136;
  text-transform: none;
}

.studio h2 {
  text-transform: none;
  font-size: 45px;
  line-height: 45px;
  text-align: left;
}

.studio p {
  text-transform: none;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.services-list {
  font-size: 16px;
  text-transform: none;
  list-style: none;
  line-height: 24px;
  text-align: left;
}

.studio-stats {
  list-style: none;
  text-align: left;
}

.studio-stats h4 {
  font-size: 45px;
  line-height: 45px;
  margin: 0;
}

.studio-stats p {
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}

.partners li {
  list-style: none;
  opacity: 0.2
}

.partners li:hover,
.partners li:focus {
  opacity:inherit;
}

.partners li:active {
  opacity: 0.1;
}

.contact-info h2 {
  font-size: 18px;
  line-height: 30px;
}

.contact-info p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  text-align: left;
  text-transform: none;
}

.contact-info a, {
  color: #ffffff;
}

.feature-item a {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 2px;
}

a.green {
  background-color: #00ca74;
}


a.green:hover,
a.green:focus {
  background-color: #00bc6c;
}

a.green:active {
  background-color: #00aa62;
    color: rgba(255, 255, 255, 0.302);
}


a.yellow {
  background-color: #efc84a;
}

a.yellow:hover,
a.yellow:focus {
  background-color: #eab534;
}

a.yellow:active {
  background-color: #e5a722;
    color: rgba(255, 255, 255, 0.302);
}


.button {
  display: inline-block;
  text-align: center;
  color: #ffffff;
  background-color: #fb565a;
  border: none;
  font-size: 16px;
  line-height: 1.2em;
  padding: 10px 40px;
  border-radius: 2px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.302);
}

.footer-social ul {
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #e1e1e1;
  color: #ffffff;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
  color: rgba(227, 115, 118, 0.302);
}

.send-button {
  width: 219px;
  height: 50px;
  background-color: #fb565a;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.social h2 {
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
  margin: 0;
}

.social p {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  text-transform: none;
}

.write-us-form input:hover,
.write-us-form input:focus {
  border-color: #b4b9bb;
  color: rgba(68, 68, 68, 0.502);
}

.write-us-form input:active {
  color: #444444;
  border-color: #000000;
}

.write-us-form input:invalid {
  color: #e74246;
  border-color: #e74246;
}

.page-title {
  text-transform: none;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  background-color: #e1e1e1;
}

.filter-title {
  font-size: 18px;
  line-height: 30px;
}

.filters-list {
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  color: #283136;
  text-transform: none;
}

.filters-list ul {
  line-height: 20px;
}

.filter-input:hover {
  color: #b8b8b8;
}

.filter-input:focus + label {
  color: #4d4d4d;
}

.filter-input:disabled + label {
  opacity: 0.3;
}

.catalog-list .style {
  text-align: center;
}

.catalog-list {
  list-style: none;
}

.catalog-item:hover {
  border: 1px solid rgb(77, 77, 77);
  border-width: 1px;
  border-color: #818181;
}

.catalog-item p {
  color: #666666;
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
}

.catalog-item h3 {
  color: #000000;
  font-size: 18px;
  line-height: 30px;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: #000000;
  background-color: #eeeeee;
  border: 2px solid #eeeeee;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.302);
}

.pagination-item-current a {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #dbdbdb;
  border-radius: 3px;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus {
  background-color: #dfdfdf;
}

.pagination-item-current a:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.302);
}

.pagination-item-button {
 background-color: #eeeeee;
}
.show-button {
  display: inline-block;
  padding: 15px 70px;
  border-radius: 2px;
  background-color: #eeeeee;
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.slide-bar h2 {
  font-size: 55px;
  line-height: 55px;
  margin: 0;
  text-transform: none;
}

.slide-bar p {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  text-transform: none;
}

.slider-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ffffff;
}

.show-button:hover,
.show-button:focus {
  background-color: #dfdfdf;
}

.show-button:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.302);
}

.pagination-item-button a:hover,
.pagination-item-button a:focus {
  background-color: #dfdfdf;
}

.pagination-item-button a:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.302);
}
